@font-face { font-family: DieHund; src: url('../fonts/DIEHN___.TTF'); }
@font-face { font-family: GunShip; src: url('../fonts/gunship.ttf'); }
html{
    height: 100%;
}
body {
    background: url('../images/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 100%;
    font-family: 'DieHund','sans-serif';
}
label{
    color:#8c8e8d;
    margin-bottom: 0;
    font-size: .5vw;
}
span{
    color:#292a2a;
    margin-bottom: 0;
    font-size: .5vw;
    font-family: 'GunShip';
}
select{
    background-color: #8c8e8d;
    border-radius: 4px;
    text-align: center;
    border:#000;
    max-width:100%;
    font-size: 0.7vw;
}
input{
    width:100%;
    color:#000;
    font-family: 'GunShip';
}
button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: #000 1px solid;
    border-radius: 4px;
    padding:6px;
    font-size: 1.2vw;
    font-family: 'GunShip';
}
.bordered{
    border: #000 1px solid;
    padding: 15px;
}
.bg-black{
    background-color: #090908;
    border:#3c3c3c 1px solid;
    padding: 5px 5px 15px 15px;
    margin-bottom: 10px;
}
.line-border{
    width:100%;
    background: #000; height:1px;
}
.padding-right{
    padding-right: 30%;
}
.big-size{
    font-size: 1.7vw;
}
.mid-size{
    font-size: .7vw;
}
.big-star{
    height: 2.5vw;
}
.stars{
    padding:0;
    margin:0;
    float:left;
    width:10%;
}